<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Database:</title>
</head>
<body>
<a href="http://localhost:8000/createtables">
    <button>Create 4 tables</button>
</a>
<a href="http://localhost:8000/insertrecords">
    <button>Insert All Records</button>
</a>
<a href="http://localhost:8000/checkrecords">
    <button>Check All Records</button>
</a>
<br><br><br><br>
<a href="http://localhost:8000/pc">
    <button>pc Input</button>
</a>

<a href="http://localhost:8000/laptop">
    <button>laptop Input</button>
</a>

<a href="http://localhost:8000/printer">
    <button>printer Input</button>
</a>
<br><br><br><br>

<a href="http://localhost:8000/query1">
    <button>Find the average hard disk size of PCs</button>
</a>
<br>
<a href="http://localhost:8000/query2">
    <button>Find the average speed of laptop for each maker</button>
</a>
<br><a href="http://localhost:8000/query3">
    <button>Find the price of laptop, which is the only laptop model of the maker</button>
</a>
<br><a href="http://localhost:8000/query4">
    <button>Find the model and price of the printer of the highest price of each maker</button>
</a>


</body>
</html>
